.containerCheckout {
  padding: 3.2rem 16rem; 
}

.containerCheckout form {
  display: flex;
  justify-content: space-between;
}

.sectionInfoOfPurchase {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 66rem;
}

.sectionInfoOfPurchase h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 130%;
  color: #403937;
} 
